<div class="col s12">
	<div class="ad-home-top">
		<!-- Ad-home-top -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-3462564966072994"
			data-ad-slot="1914082064"
			data-ad-format="auto">
		</ins>
	</div>
</div>
