{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-wrap">
    <div class="copy">&copy; {{date format="YYYY"}} <a href="https://godofredo.ninja">GodoFredo.ninja</a> Alojado en <a href="https://www.digitalocean.com/?refcode=710a27a3b3de" target="_blank"><img style="width:150px;vertical-align:middle;" src="https://www.digitalocean.com/assets/images/logo-2969eb8d.svg" alt="" /></a></div>
    <div class="by">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Contenido del Post bajo la licencia de <img style="vertical-align:middle;" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" alt=""></a>
    </div>
  </div>
</footer>
<div class="overlay"></div>
