{{!-- Footer Page --}}
<footer class="godo-footer">
  <div class="full-site-width">
    <div class="godo-footer-copyright clear center">
        <p class="copy">&copy; <a href="http://godofredo.ninja/godofredo">GodoFredo.ninja</a> | Alojado en <a href="https://www.digitalocean.com/?refcode=710a27a3b3de"><img style="width:150px;vertical-align:middle;" src="https://www.digitalocean.com/assets/images/logo-2969eb8d.svg" alt="GodoFredo Alojado en Digital Ocean" /></a></p>
        <p class="by"><a href="http://godofredo.ninja/godofredo"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i> with <i class="fa fa-heart"></i> by GodoFredo</a></p>
    </div>
  </div>
</footer>
