{{!-- Sidebar right --}}
<div class="sidebar show-on-medium-screen">
  {{!-- Add your content here - block fixed --}}
  <div class="hidden">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- BlogNinja Aside-Sidebar-Top -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-3462564966072994"
         data-ad-slot="7911725262"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
