{{!-- Sidebar right --}}
<div id="sidebar" class="col-gd-right sidebar hide-before-lg">
	{{#is "home, tag, author"}}
	<div class="widget">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Ad_sidebar_top -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-3462564966072994"
			 data-ad-slot="5686648064"
			 data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	{{/is}}

	{{#get "posts" filter="featured:true" limit="4" as |featured|}}
		{{> "widget-post" widgetTitle="Artículos destacados" widgetPosts=featured}}
	{{/get}}

	{{^is "home, tag, author"}}
		{{#get "posts" limit="4" as |recents|}}
			{{> "widget-post" widgetTitle="Últimas Publicaciones" widgetPosts=recents}}
		{{/get}}
	{{/is}}

	<div class="widget">
		<div class="fixed">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Ad_sidebar_fixed -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-3462564966072994"
				 data-ad-slot="7163381267"
				 data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>

</div>
