{{!-- Sidebar right --}}
<div id="sidebar" class="col s12 sidebar u-h-b-lg">

    {{#is "home, tag, author"}}
    <div class="widget">
        <!-- Ad_sidebar_top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="5686648064"
        data-ad-format="auto"></ins>
    </div>
    {{/is}}

    {{!-- 5 articles featured in page (home - author - tag) --}}
    {{#is "home" }}
        {{#get "posts" filter="featured:true" limit="5" as |featured| }}
            {{> "widget-post" widgetTitle="Featured Posts" widgetPosts=featured }}
        {{/get}}
    {{/is}}

    {{!-- 5 articles recents in page (post) --}}
    {{#is "post, tag, author, paged" }}
        {{#get "posts" limit="5" as |recents| }}
            {{> "widget-post" widgetTitle="Latest" widgetPosts=recents }}
        {{/get}}
    {{/is}}

    {{!-- Tag Cloud --}}
    {{> "widget-tag-cloud" }}

    {{!-- Add your content here --}}
    {{!--<div class="sidebar-items">
        <h3 class="sidebar-title">... your title ...</h3>
        ... your content ...
    </div>--}}

    {{!-- Add your content sticky --}}
    <div class="sidebar-sticky">
    <!-- Ad_sidebar_fixed -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="7163381267"
        data-ad-format="auto"></ins>
    </div>

</div>
