{{!-- Sidebar right --}}
<div id="sidebar" class="col-gd-right sidebar hide-before-lg">

    <div class="widget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Ad_sidebar_top -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3462564966072994"
             data-ad-slot="5686648064"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    {{#get "posts" filter="featured:true" limit="5" as |featured|}}
        {{> "widget-featured" widgetTitle="Featured Posts" widgetPosts=featured}}
    {{/get}}

    <div class="widget">
        <div class="fixed">
            <!-- Ad_sidebar_fixed -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3462564966072994"
                 data-ad-slot="7163381267"
                 data-ad-format="auto"></ins>
        </div>
    </div>


</div>
